* {
  font-family: Mulish;
  font-style: normal;
}

/* nav bar */
nav {
  padding-top: 52px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.global-travel {
  display: flex;
  gap: 18px;
}
#nav-title {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
}
nav a {
  list-style: none;
  text-decoration: none;
}
nav > ul {
  display: flex;
  gap: 44px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
nav > ul a {
  color: var(--Dark-02, #424247);
}

/* explore section */
.container{
  display: flex;
  justify-content: center;
}
.explore {
  width: 1170px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/group1.png");
}
.explore-title {
  text-align: center;
  padding-top: 75px;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  line-height: normal;
}
.explore-description {
  position: relative;
  left: 22%;
  top: -20px;
  width: 676px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#search-here {
  position: relative;
  left: 16px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.search {
  position: relative;
  left: 185px;
  bottom: -8px;
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.where,
.when,
.select {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}
.btn {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.btn > img {
  position: relative;
  left: -4px;
  top: 3px;
}

/* our popular tours */
.container-1 {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.popular-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}
.popular-description {
  width: 545px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#mountain1{
  margin-top: 50px;
}





/* small device */
@media screen and (max-width: 576px) {
  .explore {
    width: 335px;
    height: 483px;
    flex-shrink: 0;
  }
  .explore-title {
    padding-top: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    line-height: normal;
  }
  .explore-description {
    width: 304px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    position: relative;
    top: -10px;
    left: 15px;
  }
  .search {
    display: flex;
    width: 287px;
    padding: 16px;
    top: -10px;
    left: 9px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
  }
  .where,
  .when,
  .select {
    width: 287px;
    height: 52px;
    flex-shrink: 0;
  }
  .btn {
    width: 287px;
    height: 52px;
    flex-shrink: 0;
  }
}
