* {
  font-family: Mulish;
  font-style: normal;
}

/* nav bar */
nav {
  padding-top: 52px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.global-travel {
  display: flex;
  gap: 18px;
}
#nav-title {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
}
nav li {
  list-style: none;
}
nav > ul {
  display: flex;
  gap: 44px;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
